<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
     <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
      <div class="container">
           <h1>Playground</h1>
           <div class="microservice" id="extractor">
                <h2>Extractor</h2>
                <input type="text" name="file_token" id="file-token" placeholder="file token (ex: http://www.example/file.zip)">
                <button>Try out</button>
           </div>
           <div class="microservice"></div>
           <div class="microservice"></div>
           <div class="microservice"></div>
           <div class="microservice"></div>
           <div class="microservice"></div>
           <div class="microservice"></div>
           <div class="microservice"></div>
      </div>
</body>
</html>